[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
line-message = {ref = "1.1.0", git = "https://github.com/CodeSpaceTeam-Alt/LINE-notify.git"}

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-multiversion = "*"

[requires]
python_version = "3.8"
